<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:include="layout :: currentUser"></div>
	
	<div th:include="layout :: titleMsg"></div>

	<div th:include="layout :: actionForm"></div>
	
	<div>
	<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/welcome">Welcome</a></li>
	<li><a href="/admin">Admin</a></li>
	<li><a href="/login">Login</a></li>
	<li><a href="/contacts/">Contacts</a></li>
	<li>open</li>
	<li>open</li>
	<li>open</li>
	<li><a href="/403">403</a></li>
	<li><a href="../">Back</a></li>
	</ul></div>

</body>
<footer th:include="layout :: footer">
</footer>
</html>