<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<!-- meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="Simplicity Itself" /-->

<meta th:fragment="metaCharset" charset="utf-8" />
<meta th:fragment="metaXUAComp" http-equiv="X-UA-Compatible"
	content="IE=edge" />
<meta th:fragment="metaViewport" name="viewport"
	content="width=device-width, initial-scale=1" />
<meta th:fragment="metaDescription" name="description" content="" />
<meta th:fragment="metaAuthor" name="author" content="" />

<link href="/resources/css/bootstrap.min.css" rel="stylesheet" />
<link href="/resources/css/bootstrap-responsive.min.css"
	rel="stylesheet" />
<style th:fragment="clearCss">
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	font-family: Georgia, serif;
	background: url("");
}

.clear {
	clear: both;
}

.left {
	float: left;
}
</style>
<!-- script th:fragment="jquery" src="../../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script-->
<script th:src="@{/resources/js/jquery.min.js}"></script>
<!-- script th:fragment="jquery" 
	src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script-->
</head>
<body>

<div th:fragment="replacement" id="this" th:utext="${nav}"></div>

	<div th:fragment="currentUser">
		<div th:if="${#authentication?.name}">
			<h2></h2>
			User : <span th:text="${#authentication.name}"></span> | <a
				href="javascript:formSubmit()"> Logout</a>
		</div><!---->
		<form th:action="@{'/logout'}" method="post" id="logoutForm">
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
		</form>
		<script>
			function formSubmit() {
				document.getElementById("logoutForm").submit();
			}
		</script>
	</div>

	<div th:fragment="menu">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse"
						data-target=".nav-collapse"> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
					</a> <a class="brand" href="/">Root</a>
					<div class="nav-collapse collapse">
						<p class="navbar-text pull-right"></p>
						<ul class="nav">
							<li><a href="/">Home</a></li>
							<li><a href="/apps">Apps</a></li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</div>
		</div>

	</div>



	<div th:fragment="left">
		<div class="well sidebar-nav span3">
			<ul class="nav nav-list">
				<li class="nav-header">Menu</li>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
	</div>



	<div th:fragment="titleMsg">
		<h1>
			Title : <span th:text="${title}"></span>
		</h1>
		<h1>
			Message : <span th:text="${message}"></span>
		</h1>
	</div>



	<div th:fragment="actionForm"></div>



	<div id="footer" th:fragment="footer">
		<p>&copy; Kameron Meyer 2014</p>
	</div>



	<div class="container">
		<!-- Fixed navbar -->
		<div th:fragment="navbar"
			class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Project name</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li>
							</ul></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="../navbar/">Default</a></li>
						<li><a href="../navbar-static-top/">Static top</a></li>
						<li class="active"><a href="./">Fixed top</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>

		<div class="container">

			<!-- Main component for a primary marketing message or call to action -->
			<div class="jumbotron">
				<h1>Navbar example</h1>
				<p>This example is a quick exercise to illustrate how the
					default, static and fixed to top navbar work. It includes the
					responsive CSS and HTML, so it also adapts to your viewport and
					device.</p>
				<p>To see the difference between static and fixed top navbars,
					just scroll.</p>
				<p>
					<a class="btn btn-lg btn-primary" href="../../components/#navbar"
						role="button">View navbar docs &raquo;</a>
				</p>
			</div>

		</div>
		<!-- /container -->
	</div>

	<div id="meta" th:fragment="meta"></div>
</body>
</html>